/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}

.style_bold {
    font-weight: 700;
}

.shortcut {
    height: 32px;
    line-height: 32px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-of-type(2n-1) {
    padding: 0 15px;
}

.shortcut .fr ul li:nth-of-type(2n) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 10px 0 0;
}

.shortcut .fr ul .follow {
    position: relative;
}

.shortcut .fr ul .follow .dropdown-layer {
    display: none;
}

.shortcut .fr ul .follow:hover {
    background-color: #fff;
}

.shortcut .fr ul .follow:hover .dropdown-layer {
    display: block;
    position: absolute;
    left: -50px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #f1f1f1;
    background-image: url(../images/sponsor_wechat.png);
    background-repeat: no-repeat;
    background-size: 200px 200px;
}

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}

.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0px;
}