.nav {
    overflow: hidden;
}

.seckill {
    position: absolute;
    border-left: 2px solid #c81625;
    padding-left: 10px;
    top: 40px;
    left: 190px
}

.sk_list {
    float: left;
}

.sk_list ul li {
    float: left;
}


.sk_list ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
}

.sk_con {
    float: right;
}

.sk_con ul li {
    float: left;
    line-height: 49px;
    font-size: 14px;
    padding: 0 22px;
}

.sk_con ul li:last-child a::after {
    content: "\e91e";
    font-family: "icomoon" !important;

}

.sk_bd {
    overflow: hidden;
}

.sk_bd ul {
    width: 1300px;
}

.sk_bd ul li {
    position: relative;
    float: left;
    margin-right: 13px;
    margin-bottom: 13px;
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in;
}

.sk_bd ul li:hover {
    border-color: #c81625;
    box-shadow: 0px 6px 10px rgba(200, 22, 37, 0.5);
}

.sk_bd ul li:hover img {
    transform: translateY(-5px);
    transition: all 0.3s ease-in;
}

.sk_bd ul li img {
    display: block;
    width: 240px;
    height: 280px;
    margin: 11px 25px 6px;
}

.sk_bd ul li .desc {
    font-size: 14px;
    margin: 0 12px;

}

.desc a {
    color: black;
}

.desc a:hover {
    color: #c81625;
}

.price {
    margin-top: 6px;
    font-weight: 700;
}

.price_now {
    margin-left: 12px;
    color: #e60012;
    font-size: 24px;
}

.price_before {
    margin-left: 8px;
    color: #666;
    text-decoration: line-through;

}

.sell_detail {
    margin-left: 12px;
    margin-top: 3px;
    height: 14px;
    line-height: 14px;
}

.sell_detail .pb_border {
    margin: 0 10px;
    display: inline-block;
    width: 132px;
    height: 12px;
    border: 1px solid #e60012;
    border-radius: 6px;
    vertical-align: bottom;
}

.sell_detail .pb {
    background-color: #e60012;
    width: 116px;
    height: 10px;
    border: 1px solid #e60012;
    border-radius: 6px 0 0 6px;
}

.sk_bd ul li button {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #c81625;
    bottom: 0;
}

.sk_bd ul li button a {
    color: white;
    font-size: 18px;
}