// Custom styles.

.post-body .link-grid {
    /* one column per row */
    grid-template-columns: 1fr;
}

.link-grid-image {
  border-radius: 0px!important;
}

// 整体背景设置
body {
 	background:url(/img/general/background.webp);// 设定背景图片
 	background-repeat: no-repeat;// 设定背景图片非重复填充
    background-attachment:fixed;// 设置背景图片不随页面滚动
    background-position:50% 50%;// 设置背景图片位置
	background-size: cover// 设置保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小
}

.sidebar {
  opacity: 1;
}

.sidebar-inner {
  background: rgba(255,255,255,0.2);
}

.header-inner {
  background: rgba(255,255,255,0.2);
}

.main-inner { 
  opacity: 0.8;
}

.back-to-top {
  border-radius: 0 0 20px 20px;
}

.site-brand-container {
  border-radius: 20px 20px 0 0;
}

.post-body img {
  margin-bottom: 10px
}

.left {
    width: 49%;
    float: left;
}

.right {
    width: 49%;
    float: right;
}

.center {
    float: left;
    width: 60%;
    margin-left: 20%;
}

.clear {
    clear: both;
}

@font-face {
  font-family: "iconfont"; /* Project id 3664290 */
  src: url('/fonts/iconfont-example/iconfont.woff2') format('woff2'),
       url('/fonts/iconfont-example/iconfont.woff') format('woff'),
       url('/fonts/iconfont-example/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comment {
  text-align: center;
}