// Custom styles.
.footer {
  color: #fff;
}

.post-body .my-grid {
  display: grid;
  // https://caniuse.com/mdn-css_properties_gap_grid_context
  grid-gap: 1.5rem;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
  padding: 1rem;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  +mobile() {
    grid-template-columns: 1fr;
  }

  .my-grid-container {
    border: solid $grey-lighter;
    border-radius: 10px;
    box-shadow: 1rem 1rem .5rem rgba(0, 0, 0, .5);
    min-height: 5rem;
    // Fix issue #30
    min-width: 0;
    padding: .5rem;
    position: relative;
    transition: background .3s;

    &:hover {
      background: var(--card-bg-color);
    }

    &:active {
      box-shadow: .5rem .5rem .25rem rgba(0, 0, 0, .5);
      transform: translate(.2rem, .2rem);
    }

    .my-grid-image-link {
      border: 1px solid $grey-lighter;
      box-sizing: border-box;
      height: 5rem;
      width: 5rem;
      padding: 3px;
      position: absolute;
      border-radius: 50%;
      
    }

    img {
      width: 100%;
      height: 100%;
      margin-bottom: 0px;
    }

    p {
      margin: 0 1rem 0 6rem;

      &:first-of-type {
        font-size: 1.2em;
      }

      &:last-of-type {
        font-size: .8em;
        line-height: 1.3rem;
        opacity: .7;
      }
    }
  }
}

// 整体背景设置
body {
 	background:url(/img/general/background.webp);// 设定背景图片
 	background-repeat: no-repeat;// 设定背景图片非重复填充
    background-attachment:fixed;// 设置背景图片不随页面滚动
    background-position:50% 50%;// 设置背景图片位置
	background-size: cover// 设置保持图像的纵横比并将图像缩放成将完全覆盖背景定位区域的最小大小
}

.sidebar-inner {
  background: rgba(255,255,255,0.6);
}

.header {
  background: rgba(255,255,255,0.6);
}

.main-inner {
  opacity: 0.87;
}

.back-to-top {
  border-radius: 0 0 20px 20px;
}
.back-to-top {
  background: #3f5973;;
  opacity: .8;
  font-weight: bold;
  font-size: 1em;
  border-radius: 1em;

  &:hover {
    color: #fff;  
  }
}

.site-brand-container {
  border-radius: 20px 20px 0 0;
}

.post-body img {
  margin-bottom: 10px
}

.left {
    width: 49%;
    float: left;
}

.right {
    width: 49%;
    float: right;
}

.center {
    float: left;
    width: 60%;
    margin-left: 20%;
}

.clear {
    clear: both;
}

@font-face {
  font-family: "iconfont"; /* Project id 3664290 */
  src: url('/fonts/iconfont-example/iconfont.woff2') format('woff2'),
       url('/fonts/iconfont-example/iconfont.woff') format('woff'),
       url('/fonts/iconfont-example/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.comment {
  text-align: center;
}